@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
}

body, html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    
}

.main{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.topo{
    background-color: black;
    color: goldenrod;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 17px  0;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #d5960054;
}

.topo h1{
    margin-bottom: 10px;
}

.links a{
    color: goldenrod;
    padding: 0 15px;
}

.image-topo{
    width: 100%;
}

.destaque{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(107, 107, 107);
    padding: 12px 0;

}

h2{
    text-align: center;
    padding-bottom: 15px;
}

.image-secao{
    width: 320px;
    margin: auto;
    display: block;
}

p{
    width: 100%;
    line-height: 28px;
    margin: 15px 0;
    padding: 10px 0;
    text-align: justify;
}

span{
    color: goldenrod;
}

.rodape{
    background-color: black;
    color: white;
    width: 100%;
}

iframe{
    width: 100%;
    padding: 10px 0;
}

.rodape p{
    text-align: center;
    font-size: 15px;
}

.contato{
    color: goldenrod;
    
}

.rodape a{
    text-decoration: none;
}

.rodape a:hover{
    color:royalblue;
}

.fixado a{
    background-color: #2bd11c;
    color: white;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    width: 130px;
    position: fixed;
    bottom: 15px;
    right: 35px;
    padding: 10px 20px;
    border-radius: 10px ;
    
}




