@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;

 
    
}


.secao-limite {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* seção topo */
.topo {
    background-color: rgb(1, 181, 236);
}

.secao-topo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding-top: 15px;
}

.logo{
    width: 150px;
    margin: 5px 0 15px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

nav a {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 15px;

}

nav a:hover{
  border-bottom: 2px solid turquoise;
}

/* seção banner */

.secao-banner {
    background: url("../imagens/recepcao.png") no-repeat bottom center;
    background-size: cover;
    height: 50vh; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-texto {
    width: 100%;
    font-size: 30px;
    color: white;

    margin: 0 auto;
}

.secao-texto span{
    font-size: 30px;
}

/* seção do conteudo sobre */

.conteudo-sobre{ 
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
 
}

/* Estilos para a imagem médico */
.conteudo-sobre-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista{
    margin-left: 20px;
}

.conteudo-sobre h2, h3, p, li {
    color: gray;
}


/* estilos de titulo compartilhado seção sobre e especialistas */
.secao-especialistas h2 , .secao-contato h2 {
    font-weight: 800;
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 22px;
    margin: 25px 0;
}


.conteudo-sobre h2 {
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 28px;
    margin: 25px 0;
}

.conteudo-sobre p , .secao-especialistas p {

    font-size: 19px;
    line-height: 25px;
    text-align: center;
    margin: 20px auto;

}

/* secao dos cards */
.secao-especialistas {
    width: 100%;
    padding: 15px 0;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.cards img {
    width: 100%;
}

figure{
    background-color: white;
    box-shadow: 5px 5px 20px gray;
    width: 320px;
}

figcaption{
    text-align: center;
    padding: 9px 0; 
}


.link-horario{
    
    text-align: center;
    width: 150px;
    height: 50px;


    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 35px auto 0 auto;
}

.link-horario a{
    
    background-color: rgb(1, 189, 189);
    width: 100%;

    padding: 15px;


    color: white;
    text-decoration: none;
    font-weight: bold;

    border-radius: 3px;

}

.link-horario a:hover{
    background-color: rgb(56, 128, 221);
}

/* seção contatos */

.secao-contato{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secao-contato p{
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    margin: 20px auto;
}

.secao-mapa{
    max-width: 1024pxpx;
    width: 100%;
}

.secao-mapa iframe{
    width: 100%;
}


/* seção rodape */

.rodape{
    width: 100%;
    margin: 25px auto 0 auto;
    background-color: rgb(4, 122, 143);
    display: inline-block;
    text-align: center;
}

.rodape p{
    color: #ffffffc9;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    margin: 20px auto;
}