@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans pro', sans-serif;
}


.secao-limite {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* seção topo */
.topo {
    background-color: rgb(1, 181, 236);

}

.logo {
    position: relative;
    top: 15px;
    left: 0;
}

img {
    width: 150px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: 40px;
}

nav a {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover{
    color: aqua;
}

/* seção banner */

.secao-banner {
    background: url("../imagens/recepcao.png") no-repeat bottom center;
    background-size: cover;
    height: 50vh;
    position: relative;
}



.secao-texto {
    position: relative;
    padding: 180px 0;
}

.secao-texto h1 {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;

    color: white;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;

    padding: 10px 0;
}

/* seção do conteudo sobre */


.secao-sobre {

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para a imagem médico */
.conteudo-sobre img {

    max-width: 50%;
    position: relative;
    top: 80px;
    left: 30%;
}

.conteudo-sobre h2, h3, p, li {
    color: gray;
    
}

/* estilos de titulo compartilhado seção sobre e especialistas */
.secao-especialistas h2 , .secao-contato h2 {
    font-weight: 800;
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 22px;
    margin: 25px 0;
}


.conteudo-sobre h2 {
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 28px;
    margin: 25px 0;
}

.conteudo-sobre p , .secao-especialistas p {

    font-size: 19px;
    line-height: 25px;
    text-align: center;
    min-width: 469px;
    margin: 20px auto;

}

/* Estilos para a lista */
.lista {
    font-size: 18px;
    flex: 1;
    margin-left: 20px;
    width: 400px;
    position: relative;
    bottom: 120px;
    left: 45%;

}

/* Estilos para o título da lista */
.lista h3 {
    margin: 20px 0;

}

/* secao dos cards */
.secao-especialistas {
    width: 100%;
    margin: 0 auto;
}

.cards {
    display: flex;
    margin: 0 auto 20px auto;
}

.cards img {
    width: 320px;
    margin: 10px;
}

.card1, .card2, .card3 {
    box-shadow: 5px 5px 20px gray;
}

.link-horario{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-horario a{
    background-color: rgb(1, 189, 189);
    padding: 15px;
    margin: 20px auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* seção contatos */

.secao-contato{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-contato p{
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    min-width: 469px;
    margin: 20px auto;
}

article{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}


/* seção rodape */

.rodape{
    width: 100%;
    margin: 25px auto 0 auto;
    background-color: rgb(4, 122, 143);
    display: inline-block;
    text-align: center;
}

.rodape p{
    color: #ffffffc9;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    min-width: 469px;
    margin: 20px auto;
}