@charset "UTF-8";

/* config universal */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.limite-secao{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


/* config do topo */

.topo{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.logo{
    font-size: 30px;
    padding: 20px 0;
}

.logo a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.726);
    font-weight: 500;
}

.logo span{
    color: rgba(0, 89, 255, 0.596);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav a{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.479);
    text-decoration: none;
    margin: 20px;
}

nav a:hover{
    color: black;
}

nav li{
    list-style: none;
}

/* config banner */

.img-banner{
    
    background: url("../assets/img-fundo.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10PX;
}

.texto-banner{
    background-color: rgba(0, 128, 96, 0.548);
    color: white;
    border: 1px solid white;
    width: 570px;
    height: 200px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-banner h1 {
    font-size: 52px;
}

.texto-banner p{
    margin-top: 32px;
    font-size: 30px;
}

/* config seção quartos */

.destaque-quartos{
    margin: 0 auto;
    padding: 22px;
    display: block;
}

/* seletores compartilhados ( seção rota, seção quartos e seção sobre) */

.destaque-quartos h2 , .localizacao h2 , .sobre-pousada h2  {
    text-align: center;
    padding: 15px 0;
    opacity: 0.6;
}

.destaque-quartos p , .localizacao p {
    text-align: center;
    font-size: 19px;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.63);
}

/* config dos cards */

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    margin-top: 15px;

}

.cards img{
    width: 100%;
}

.cards figure{
    border-bottom: 3px solid rgb(0, 160, 209);
    width: 320px;
}

.cards figcaption{
    text-align: center;
    padding: 15px 0;
}

/* config da seção ROTA */

.localizacao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.localizacao iframe{
    width: 100%;
}

/* config seção sobre  */



.cards-sobre{
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
    gap: 15px;

    margin-top: 20px;
}

.cards-sobre figure{
    border: 1px solid;
    display: flex;
    width: 450px;
    height: 150px;  
}

.cards-sobre figure img{
    width: 200px;
    height: 100%;
}

.cards-sobre figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    margin-left: 10px;
}

.texto{
    text-align: center;
    font-size: 19px;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.63);
}

.cards-sobre figure p{
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.63);
}

