@charset "UTF-8";


body{
    margin: 0;
    padding: 0;
}

.secao-topo{
    background-image: url('../imagens/capa.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
    text-align: center;
    padding: 50px;
    

}

.secao-topo h1, h2{
    margin: 0 auto;
    color: white;
    padding: 10px;
    width: 300px;
    
}
h1{
    background-color: black;
}

h2{
    background-color: red;
}

.secao-conteudo{
    width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}
.secao-conteudo img{
    width: 200px;
    height: 250px;
}

.secao-divulgacao{
    background-image: url('../imagens/fundo.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 200px;

}

p{
    line-height: 26px;

}

span{
    background-color: #f00;
    color: white;
    padding: 10px 25px;
}