@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: url("https://i.pinimg.com/564x/9c/9f/52/9c9f5243f150ee2992da077201ca82c1.jpg") no-repeat fixed ;
    background-size: cover;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

div {
    background-color: white;
    margin: auto;
    width: 600px;
    height: 100%;
}


img {
    width: 200px;
}

.imagem-logotipo {
    margin-top: 15px;
    margin-bottom: 10px;
}

h1 {
    border-top: 2px solid orange;
    font-size: 28px;
    margin: 0 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h2 {
    font-weight: normal;
    margin-top: 10px;
    color: chocolate;
}

ul>li {
    position: relative;
    display: inline-block;
    margin: 15px 0 15px 15px;
    padding: 10px;

}

a {
    color: rgb(126, 57, 7);

}


.imagem-banner {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.secao-destaque {
    background-color: #de8e37;
    color: white;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
    
}

.secao-destaque h3, h4 {
    padding-top: 5px;
    padding-bottom: 15px;
}

.secao-destaque h4{
    font-size: 18px;
}

.secao-destaque img {
    width: 450px;
    padding: 20px 0;
}

.secao-destaque p {
    width: 500px;
    line-height: 30px;
    margin: 0 auto;
}

footer div h3{
    padding: 15px 0;
}

footer div p{
    padding: 10px;
}

