@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    width: 100vw;
    height: 100vh;
}

.secao{
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(146, 123, 101);
}


.topo img {
    width: 100px;
    position: relative;
    left: 15%;
}

.topo nav {
    position: absolute;
    top: 35%;
    right: 15%;
}

.topo nav a {
    margin-right: 20px;
    font-size: 18px;

    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-align: none;
    text-decoration: none;
    text-shadow: 3px 3px 2px black;
    letter-spacing: 2px;

    color: #c4a47c;

}

.topo nav a:hover{
    color: white;
}

/* secao parallax-capa */

.secao-background-capa {
    background: url('../imagens/parallax-imagem1.png') center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    top: 45%;
    right: 0;
    left: 0;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 400;
    font-family: "Fraunces", sans-serif;
    font-size: 100px;
}

/* secao parallax-2 e 3 */

.parallax-secao1 h3, .parallax-secao2 h3 {
    width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;

    letter-spacing: 2px;
    background-color: #604829;
    color: white;
}

/* seçao parallax */

.parallax-secao1 {
    background: url('../imagens/parallax-imagem2.jpg') center bottom no-repeat fixed;
    background-size: cover;
    height: 50vh;
}

.parallax-secao2 {
    background: url('../imagens/parallax-imagem3.jpg') center bottom no-repeat fixed;
    background-size: cover;
    height: 50vh;
}

/* efeitos da classe container-texto */
.container-texto {
    padding: 80px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #666;
}

.container-texto h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
}

.container-texto p {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: "Oswald", sans-serif;
    line-height: 34px;
    letter-spacing: 1px;
    color: #666;
}



/* seçao parallax 3 */

.parallax-secao3 {
    position: relative;
    background: url('../imagens/parallax-imagem4.png') center fixed;
    background-size: cover;
    height: 100vh;
}

.parallax-secao3 h2 {
    width: 500px;
    padding: 10px;
    
    position: relative;
    top: 10%;
    right: 0;
    left: 0;

    margin: auto;

    font-size: 24px;
    font-family: "Oswald", serif;
    letter-spacing: 5px;
    text-align: center;

    color: white;
    background-color: #604829;
}

.parallax-secao3 iframe {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: auto;
}

.container-contatos {
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 9%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #604829;
}

.container-contatos p {
    color: white;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px black;
    text-align: center;
}

/* Seçao parallax 4 */

.parallax-secao4 {
    position: relative;
    background: url('../imagens/cafeteria.jpg') center fixed;
    background-size: cover;
    height: 85vh;
}

.parallax-secao4 h2 {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    text-align: center;
    letter-spacing: 8px;
    color: white;
}

.lista-horarios {
    max-width: 768px;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    list-style: none;
}

.lista-horarios li {
    position: relative;
}

.lista-horarios li h3 {
    margin-bottom: 20px;
    color: white;
}

.lista-horarios li div {
    width: 70%;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #acacac;
}

.lista-horarios li p, .texto-marrom {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

.texto-marrom {
    color: #c4a47c;
}

.lista-horarios li p {
    color: #acacac;
}

.rodape{
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.rodape span{
    color: #c4a47c;
}

.rodape a{
    background-color: black;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;

    background: url('../imagens/seta-para-cima.png') center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;

}
