@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    width: 100vw;
    height: 100vh;
}

.secao{
    width: 100%;
    margin: 0 auto;
}

/* SEÇÃO TOPO */

.container-topo{
    width: 100%;
    background-color: rgb(146, 123, 101);
    position: fixed;
    z-index: 1;
}

.topo{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-img {
    width: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.container-img img{
    width: 100%;
    height: 100%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 0px 15px;
    color: #c4a47c;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;

}


/* secao parallax-capa */

.secao-background-capa {
    background: url('../imagens/parallax-imagem1.png') center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    top: 45%;
    right: 0;
    left: 0;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 400;
    font-family: "Fraunces", sans-serif;
    font-size: 100px;
}

/* secao parallax-2 e 3 */

.parallax-secao1 h3, .parallax-secao2 h3 {
    width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;

    letter-spacing: 2px;
    background-color: #604829;
    color: white;
}

/* seçao parallax */

.parallax-secao1 {
    background: url('../imagens/parallax-imagem2.jpg') center bottom no-repeat fixed;
    background-size: cover;
    height: 50vh;
}

.parallax-secao2 {
    background: url('../imagens/parallax-imagem3.jpg') center bottom no-repeat fixed;
    background-size: cover;
    height: 50vh;
}

/* efeitos da classe container-texto */
.container-texto {
    padding: 80px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #666;
}

.container-texto h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
}

.container-texto p {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: "Oswald", sans-serif;
    line-height: 34px;
    letter-spacing: 1px;
    color: #666;
}



/* seçao parallax 3 */

.parallax-secao3 {
    position: relative;
    background: url('../imagens/parallax-imagem4.png') center fixed;
    background-size: cover;
    height: 100vh;
}

.parallax-secao3 h2 {
    width: 500px;
    padding: 10px;
    
    position: relative;
    top: 10%;
    right: 0;
    left: 0;

    margin: auto;

    font-size: 24px;
    font-family: "Oswald", serif;
    letter-spacing: 5px;
    text-align: center;

    color: white;
    background-color: #604829;
}

.parallax-secao3 iframe {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: auto;
}

.container-contatos {
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 9%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #604829;
}

.container-contatos p {
    color: white;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px black;
    text-align: center;
}

/* Seçao parallax 4 */

.container {
    padding: 100px 20px;
    background: url('../imagens/cafeteria.jpg') center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2{
   margin-bottom: 30px;
   color: white;
}

.lista-horarios{
    width: 100%;
    max-width: 768px;
    
  
}

.lista-horarios li{
    list-style: none;
    margin-bottom: 15px;
    color: white;

    display: flex;
    align-items: center;
    gap: 10px;
}

.lista-horarios li div{
    height: 1px;
    background-color: gray;
    flex: 1 1 auto;
    
}

.lista-horarios li span{
    color: #c4a47c;
}

.lista-horarios li span, .lista-horarios li p{
   flex: 0 1 100px;
   text-align: right;
}

.lista-horarios li h3{
    flex: 0 1 80px;
}


/* SEÇÃO RODAPE */

.rodape{
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.rodape span{
    color: #c4a47c;
}

.rodape a{
    background-color: black;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;

    background: url('../imagens/seta-para-cima.png') center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;

}
