@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seção principal */

body, html {
    width: 100vw;
    height: 100vh;
}

/* seção topo */

.limitar-secao{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.topo {
    position: relative;
    padding: 35px 0;
    
}

.titulo-topo {
    position: relative;
}

.titulo-topo img{
    width: 80px;
}

.titulo-topo div {
    position: absolute;
    top: 0;
    left: 95px;
    font-family: 'Poppins', sans-serif;

}

.titulo-topo p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2f86d6;
}


/* seção links */

.links {
    position: absolute;
    top: 60px;
    right: 0;
}

.links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}

.links a:hover {
    color: #2f86d6;
}

/* seção home-banner */


.secao-texto-banner {
    background-color: #2f86d6;
    /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; */
    
}

/* .secao-img {
    flex: 1 0 300px;
    text-align: center;
}

.secao-img img {
    width: 50%;
    height: auto;
    
} */

.secao-texto {
   
    color: #f6f6f6;
    position: relative;
    padding: 100px 0;
   
}

.secao-texto h2 {
    width: 100%;
    color: #f1f3f7;
    padding: 2px 0;
    margin: 0 auto;
    
}

.secao-texto p {
    width: 100%;
    color: #f1f3f7;
    width: 470px;
    font-size: 20px;
    padding: 15px 0;
    margin: 0 auto;
    
}

@media screen and (max-width:768px) {
    .secao-texto-banner {
        flex-direction: column;

    }

    .secao-img, .secao-texto {
        flex: none;
    }
}

/* seção primeiro e segundo anuncio */


.secao-primeiro-anuncio ,.secao-segundo-anuncio {
    position: relative;
    width: 100%;

    background-color: #223032;
    color: #f6f6f6;
    font-family: 'Poppins', sans-serif;
    padding: 40px 10px;
    margin: 0 auto;

    display: inline-block;
}

.conteudo-primeiro-anuncio, .conteudo-segundo-anuncio {
    margin: 20px auto;
    padding: 0 20px ;
    width: 50%;
}

.secao-segundo-anuncio{
    background-color: #2f86d6;
}

.conteudo-link {
    position: absolute;
    top: 30%;
    left: 70%;

    background-color: #2f86d6;
    border-radius: 5px;
    padding: 15px;

}

.conteudo-link a {
    color: #f1f3f7;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.conteudo-link a:hover {
    color: #223032;
}

/* segundo link da segunda seção de anuncio */

.conteudo-link-segundo {
    position: absolute;
    top: 30%;
    left: 70%;

    background-color:#223032 ;
    border-radius: 5px;
    padding: 15px;

}

.conteudo-link-segundo a {
    color: #f1f3f7;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.conteudo-link-segundo a:hover {
    color: #2f86d6;
}

/* secao informação */

.secao-informacoes{
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    
}

.secao-informacoes h2{
    width: 900px;
    text-align: center;
    color: #223032;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto 70px auto;
    
}

.secao-informacoes p , h3{
    
    font-family: 'Poppins', sans-serif;
    padding: 10px 0 ;
    
    
}

.secao-informacoes p{
   line-height: 28px; 
}

span{
    color: #2f86d6;
}

.container{
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    
}

.primeira-informacao, .segunda-informacao, .terceira-informacao {
    width: 33%;
    text-align: center;
    display: inline-block;
    
}

.primeira-informacao img , .segunda-informacao img , .terceira-informacao img{
    width: 150px;
}

/* seçao tabela informação */

.secao-tabela-preco{
   width: 100%;
   
   background-color: #f6f6f6;
}

.secao-tabela-preco h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 20px 0;
    font-size: 28px;
}

.secao-tabela-preco img{
    width: 200px;
}

/* seção tabela */

table{
    border: 2px solid;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 80px auto;
    padding: 15px 0;
    box-shadow: 3px 3px 50px 3px rgba(47, 134, 214, 1) ;
    
}

thead th{
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
    font-size: 18px;
    
}

thead th p {
    padding: 2px 0 10px 0;
    font-weight: normal;
    color:#a8a4a4 ;
    font-family: 'Poppins', sans-serif;
}

tbody tr td{
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

tbody > tr:nth-child(odd){
    background-color: rgb(240, 240, 240);
}

/* Seção rodape */

.secao-rodape{
    width: 100%;
    padding:100px ;
    margin:10px auto;
    
    
}

.titulo-rodape{
    
    width: 350px;
    margin: 0 auto;
    position: relative;
}


.titulo-rodape h1{
    position: absolute;
    top: 10%;
    left: 160px;
}
.titulo-rodape p{
    position:absolute;
    bottom: 40%;
    left: 160px;

    font-weight: 600;
    color: #2f86d6;
}

.contato-rodape {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 32px;
    
    text-align: center;
    margin: 40px 0 -20px 0;
    
}


.rodape{
    
    background-color: #f6f6f6;
    color: #223032;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    width: 100%;
    
    padding: 15px;


}

