@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;

}


/* seção topo */

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.topo {
    padding: 35px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.titulo-logo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.titulo-logo p {
    font-weight: 600;
    color: #2f86d6;
}
.container-imagem{
    width: 80px;
}

.container-imagem img {
    width: 100%;
    height: 100%;
}


/* seção links */

.links {
    max-width: 385px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.links a {
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}

.links a:hover {
    color: #2f86d6;
}

/* seção home-banner */
    

.secao-banner{
    background-color: #2f86d6;
    padding: 50px 0px;
}

.container{

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.texto-banner{
    padding: 10px 20px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 300px;
}

.texto-banner p{
    color: rgba(235, 234, 234, 0.856);
    font-size: 19px;
}

.texto-banner h2{
    color: #f1f3f7;
    font-size: 26px; 
}

.container-banner-img{
    flex: 1 1 468px;
}

.container-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 


/* seção primeiro e segundo anuncio */

.secao-primeiro-anuncio{
    background-color: #23303e;
    padding: 20px 50px;
}

.container-anuncio{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 23px;
}

.container-anuncio-texto{
    color: white;

    max-width: 500px;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 20px;
}

.secao-primeiro-anuncio a{
    background-color: #2f86d6;
    padding: 15px 10px;
    border-radius: 3px;

    color: #f1f3f7;
    text-decoration: none;

}


.secao-primeiro-anuncio a:hover{
   color: #23303e;
}



/* conteudo da segunda seção */

.secao-segundo-anuncio {
    background-color: #2f86d6;
    padding: 20px 50px;
}


.secao-segundo-anuncio a{
    background-color: #23303e;
    padding: 15px 10px;
    border-radius: 3px;

    color: #f1f3f7;
    text-decoration: none;
}


.secao-segundo-anuncio a:hover{
   color: #2f86d6;
}


/* secao serviços e informação */

.secao-informacoes {
    padding: 50px 0;
}

.container-informacao{
    text-align: center;

    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1 1 300px;
}

.card-1 , .card-2, .card-3{

    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-img{
    width: 100px;
}

.card-1 img, .card-2 img , .card-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-informacao-texto{
    margin: 20px auto;
}

.secao-informacoes h2 {
    text-align: center;
    color: #223032;

}



span {
    color: #2f86d6;
}

/* seçao tabela informação */

.secao-tabela-preco {
    overflow-x: scroll;
    background-color: #f6f6f6;
}

.secao-tabela-preco h2 {
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 20px 0;
    font-size: 28px;
}

.secao-tabela-preco img {
    width: 150px;
}

/* seção tabela */

table {
    border: 2px solid;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 80px auto;
    padding: 15px 0;
    box-shadow: 3px 3px 50px 3px rgba(47, 134, 214, 1);

}

thead th {
   
    padding: 10px 0;
    font-size: 18px;

}

thead th p {
    padding: 2px 0 10px 0;
    font-weight: normal;
    color: #a8a4a4;
  
}

tbody tr td {
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    
}

tbody>tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

/* Seção rodape */

/* Rodapé */
.rodape-logo {
    width: 320px;
    position: relative;
    margin: 70px auto 40px;
}

.rodape-logo img {
    width: 80px;
}

.rodape-logo div {
    position: absolute;
    left: 95px;
    top: 0;
}

.rodape-logo p {
    color: #2f86d6;
    font-weight: 600;
}

.container-contatos {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.container-copyright {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
    background-color: #f1f3f7;
}

.container-copyright span {
    color: #2f86d6;
}