@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* seção topo */

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.topo {
    position: relative;
    padding: 35px 0;

}

.titulo-topo {
    position: relative;
}

.titulo-topo img {
    width: 80px;
}

.titulo-topo div {
    position: absolute;
    top: 0;
    left: 95px;
    font-family: 'Poppins', sans-serif;

}

.titulo-topo p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2f86d6;
}


/* seção links */

.links {
    position: absolute;
    top: 35px;
    right: 0;
}

.links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}

.links a:hover {
    color: #2f86d6;
}

/* seção home-banner */


.secao-texto-banner {
    background-color: #2f86d6;
    /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; */

}

/* .secao-img {
    flex: 1 0 300px;
    text-align: center;
}

.secao-img img {
    width: 50%;
    height: auto;
    
} */

.secao-texto {
    position: relative;
    padding: 180px 0;

}

.secao-texto div {
    color: #f6f6f6;
    width: 470px;

}

.secao-texto div p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;

}

.secao-texto div h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;

}

.secao-texto img {
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0;
}

/* @media screen and (max-width:768px) {
    .secao-texto-banner {
        flex-direction: column;

    }

    .secao-img, .secao-texto {
        flex: none;
    }
} */

/* seção primeiro e segundo anuncio */


.secao-primeiro-anuncio, .secao-segundo-anuncio {
    background-color: #23303e;
    color: white;
}

.conteudo-primeiro-anuncio, .conteudo-segundo-anuncio {
    position: relative;
    padding: 40px 0;
}

.conteudo-primeiro-anuncio div{
    width: 600px;
}

.conteudo-primeiro-anuncio div h2{
    margin-bottom: 5px;
}

.conteudo-primeiro-anuncio a{
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: #2f86d6;
    color: #fff;
    cursor: pointer;
}

.conteudo-primeiro-anuncio a:hover {
    color: #223032;
}

/* conteudo da segunda seção */

.secao-segundo-anuncio {
    background-color: #2f86d6;
}

.conteudo-segundo-anuncio div{
    width: 600px;
}

.conteudo-segundo-anuncio div h2{
    margin-bottom: 5px;
}

.conteudo-segundo-anuncio a{
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: #223032;
    color: #fff;
    cursor: pointer;
}

.conteudo-segundo-anuncio a:hover {
    color: #2f86d6;
}


/* secao informação */

.secao-informacoes {
    text-align: center;
    padding: 100px 0;

}

.secao-informacoes h2 {
    width: 900px;
    color: #223032;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto 60px;

}

.secao-informacoes p, h3 {
    font-family: 'Poppins', sans-serif;
}

.secao-informacoes p {
    line-height: 28px;
}

span {
    color: #2f86d6;
}

.container-informacao {
    position: relative;
    height: 200px;

}

.container-informacao div{
    width: 33%;
    position: absolute;
    top:0;
}


 .segunda-informacao{
    left: 343px;
}
 .terceira-informacao  {
    right: 0;
}

.container-informacao div img{
    width: 100px;
}

.container-informacao div h2{
    margin: 20px;
}

/* seçao tabela informação */

.secao-tabela-preco {
    width: 100%;

    background-color: #f6f6f6;
}

.secao-tabela-preco h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 20px 0;
    font-size: 28px;
}

.secao-tabela-preco img {
    width: 200px;
}

/* seção tabela */

table {
    border: 2px solid;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 80px auto;
    padding: 15px 0;
    box-shadow: 3px 3px 50px 3px rgba(47, 134, 214, 1);

}

thead th {
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
    font-size: 18px;

}

thead th p {
    padding: 2px 0 10px 0;
    font-weight: normal;
    color: #a8a4a4;
    font-family: 'Poppins', sans-serif;
}

tbody tr td {
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

tbody>tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

/* Seção rodape */

/* Rodapé */
.rodape-logo {
    width: 320px;
    position: relative;
    margin: 70px auto 40px;
}

.rodape-logo img {
    width: 80px;
}

.rodape-logo div {
    position: absolute;
    left: 95px;
    top: 0;
}

.rodape-logo p {
    color: #2f86d6;
    font-weight: 600;
}

.container-contatos {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.container-copyright {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
    background-color: #f1f3f7;
}

.container-copyright span {
    color: #2f86d6;
}